@font-face {
  font-family: 'DIN Pro Light';
  src: url('../fonts/DINPro-Light.woff2') format('woff2'),
  url('../fonts/DINPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro Regular';
  src: url('../fonts/DINPro.woff2') format('woff2'),
  url('../fonts/DINPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro Medium';
  src: url('../fonts/DINPro-Medium.woff2') format('woff2'),
  url('../fonts/DINPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro Bold';
  src: url('../fonts/DINPro-Bold.woff2') format('woff2'),
  url('../fonts/DINPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
  url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}