*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'DIN Pro Light', sans-serif;
  font-size: 14px;
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

strong {
  color: inherit;
  font-family: 'DIN Pro Bold';
  font-weight: normal;
}

button {
  cursor: pointer;
}

a, button {
  transition: $transition;
}

a, button, input {
  &:focus {
    outline: none;
  }
}

.first-screen {
  position: relative;
  background: url('../img/offer/first-screen.jpg') no-repeat center / cover;
  z-index: 0;
}

.relative {
  position: relative;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.rotate-180 {
  transform: rotate(180deg);
}

.center {
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  color: $secondary;
  text-decoration: none;
  img {
    width: 60px;
  }
  &__text {
    margin: 0 0 0 14px;
    font-size: 12px;
    font-family: 'DIN Pro Regular';
    letter-spacing: 0.02em;
    span {
      display: block;
      font-family: 'DIN Pro Medium';
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 0.09em;
    }
  }
}

.login {
  &__link {
    margin-right: 9px;
    font-family: 'DIN Pro Regular', sans-serif;
    text-decoration: none;
    color: $secondary;
    transition: $transition;
    & + i {
      font-size: 12px;
      color: $lightgrey;
      transition: $transition;
    }
    &:hover {
      & + i {
        color: $secondary;
      }
    }
  }
  &-btn {
    position: fixed;
    top: 150px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 18px;
    text-decoration: none;
    background: $secondary;
    color: $light;
    @include media('xxl') {
      display: none;
    }
  }
}

.social {
  display: inline-flex;
  &__link {
    color: $grey;
    text-decoration: none;
    font-size: 12px;
    &:hover {
      color: $secondary;
      transition: $transition;
    }
  }
  &_vertical {
    flex-direction: column;
    align-items: center;
    .social__link {
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &_horizontal {
    .social__link {
      margin-right: 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.section {
  padding-top: 92px;
  &-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    &__line {
      position: relative;
      margin-bottom: -8px;
      flex-grow: 1;
      height: 1px;
      background: $secondary;
      @include media('md') {
        margin-bottom: 0;
      }
      @include media('sm') {
        display: none;
      }
      &::before {
        @include pseudo;
        height: 14px;
        width: 1px;
        background: darken($lightgrey, 10%);
        transform: translateY(-50%);
      }
      &_left {
        background: linear-gradient(270deg, darken($lightgrey, 10%), $light);
        &::before {
          right: 0;
        }
      }
      &_right {
        background: linear-gradient(90deg, darken($lightgrey, 10%), $light);
        &::before {
          left: 0;
        }
      }
    }
  }
  &__title {
    display: inline-block;
    margin: 0;
    font-size: 36px;
    color: $secondary;
    padding: 0 63px;
    text-align: center;
    @include media('md') {
      font-size: 30px;
      padding: 0 35px;
    }
    @include media('sm') {
     padding: 0;
    }
  }
  &__section-heading {
    margin-bottom: 38px;
  }
  &__row {
    margin-bottom: 38px;
    @include media('lg') {
      margin-bottom: 20px;
    }
  }
  &__card {
    @include media('lg') {
      margin-bottom: 50px;
    }
  }
}

.card {
  position: relative;
  width: 100%;
  max-width: 320px;
  &__sale {
    position: absolute;
    top: 15px;
    left: -10px;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    font-family: 'DIN Pro Regular';
    font-size: 30px;
    color: $light;
    background: $primary;
    &::after {
      @include pseudo;
      left: 0;
      bottom: -5px;
      width: 10px;
      height: 5px;
      background: url('../img/sale-products/coner.svg') no-repeat center / cover;
    }
  }
  &__info {
    padding: 0 20px 30px;
    @include media('xl') {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include media('lg') {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__img {
    position: relative;
    display: block;
    height: 320px;
    @include media('xl') {
      height: 270px;
    }
    @include media('lg') {
      height: 320px;
    }
    img {
      @include coverimg;
    }
  }
  &__title {
    margin: 25px 0 7px;
    font-family: 'DIN Pro Regular';
    font-size: 18px;
    color: $secondary;
    @include media('xl') {
      font-size: 16px;
    }
    @include media('lg') {
      font-size: 18px;
    }
  }
  &__tag {
    color: $text;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__rating {
    width: 100px;
    margin-top: 18px;
  }
  &__price {
    font-family: 'DIN Pro Regular';
    font-size: 16px;
    color: $secondary;
    span {
      font-size: 30px;
      @include media('xl') {
        font-size: 27px;
      }
      @include media('lg') {
        font-size: 30px;
      }
    }
    &-sale {
      width: 100%;
      margin-top: 10px;
      font-family: 'DIN Pro Regular';
      span {
        font-size: 18px;
        color: $grey;
        text-decoration: line-through;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 23px 20px 15px;
    border-top: 1px solid $lightgrey;
    @include media('xl') {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include media('lg') {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__footer-add {
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
    &:hover {
      color: lighten($secondary, 10%);
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba($secondary, 0.6);
    opacity: 0;
    @include media('lg') {
      opacity: 1;
      background: transparent;
    }
    &:hover {
      transition: 0.5s;
      opacity: 1;
    }
    &-inner {
      position: absolute;
      top: 18px;
      right: 20px;
      display: flex;
      flex-direction: column;
      @include media('lg') {
        padding: 10px;
        border-radius: 10px;
        background: rgba($secondary, 0.6);
      }
    }
    &-btn {
      position: relative;
      z-index: 5;
      border: none;
      background: none;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      &_like {
        color: $light;
        margin-bottom: 15px;
      }
      &_cart {
        color: $primary;
        &:hover {
          color: darken($primary, 10%);
        }
      }
    }
  }
}