.card-product {
  padding-top: 45px;
  padding-bottom: 91px;
  @include media('sm') {
    padding: 30px 0 60px;
  }
  &__pagination {
    margin-bottom: 55px;
  }
  &__inner {
    display: flex;
    @include media('md') {
      flex-direction: column;
      align-items: center;
    }
  }
  &__img {
    width: 40.26%;
    @include media('lg') {
      width: 40%;
    }
    @include media('md') {
      width: 80%;
      margin-bottom: 30px;
    }
    @include media('sm') {
      width: 100%;
    }
  }
  &__content {
    flex-grow: 1;
    padding-left: 32px;
    color: $secondary;
    @include media('lg') {
      width: 60%;
    }
    @include media('md') {
      padding-left: 0;
      width: 100%;
    }
  }
  &__heading {
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $darkgrey;
    @include media('sm') {
      flex-direction: column;
    }
    &-title {
      margin: 0;
      font-family: 'DIN Pro Bold';
      font-size: 24px;
      line-height: 0.7;
      @include media('lg') {
        font-size: 20px;
      }
      @include media('md') {
        font-size: 24px;
      }
      @include media('sm') {
        margin-bottom: 20px;
      }
    }
    &-rating {
      display: flex;
      align-items: flex-end;
      @include media('sm') {
       justify-content: space-between;
      }
    }
    &-counter {
      margin-right: 18px;
      font-size: 14px;
      color: $grey;
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 35px;
    border-bottom: 1px dashed $darkgrey;
    &-number {
      font-family: 'DIN Pro Bold';
      font-size: 24px;
      margin-bottom: 12px;
      @include media('lg') {
        font-size: 18px;
      }
      span {
        font-size: 48px;
        @include media('lg') {
          font-size: 40px;
        }
        @include media('sm') {
          font-size: 32px;
        }
      }
    }
    &-counter {
      font-size: 16px;
      font-family: 'DIN Pro Regular';
      color: $text;
      @include media('sm') {
        font-size: 12px;
      }
      span {
        font-family: 'DIN Pro Bold';
        color: $secondary;
      }
    }
    &-mobile {
      display: block;
      width: 88px;
      height: 88px;
      @include media('sm') {
        width: 44px;
        height: 44px;
      }
      img {
        width: 100%;
      }
    }
  }
  &__colors {
    display: flex;
    align-items: center;
    padding: 30px 0;
    font-family: 'DIN Pro Regular';
    font-size: 14px;
    border-bottom: 1px dashed $darkgrey;
    @include media('lg') {
      align-items: flex-start;
    }
    @include media('sm') {
      flex-direction: column;
    }
    &-title {
      font-size: 16px;
      margin: 0 33px 0 0;
      @include media('sm') {
        margin-bottom: 20px;
      }
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      input[type=radio] {
        display: none;
        &:checked + .card-product__colors-item {
          border-color: $primary;
        }
      }
    }
    &-item {
      display: flex;
      align-items: center;
      margin-right: 10px;
      padding-right: 20px;
      font-size: 14px;
      border: 1px solid $darkgrey;
      cursor: pointer;
      @include media('lg') {
        margin-bottom: 10px;
      }
    }
    &-icon {
      width: 26px;
      height: 26px;
      margin: 1px 20px 1px 1px;
    }
  }
  &__delivery {
    padding: 26px 0 0;
    border-bottom: 1px dashed $darkgrey;
    &-title {
      margin: 0 0 28px;
      font-family: 'DIN Pro Regular';
      font-size: 16px;
    }
    &-top {
      display: flex;
      &-item {
        padding-right: 28px;
        padding-bottom: 21px;
        border-right: 1px solid $darkgrey;
        border-bottom: 1px solid $darkgrey;
        font-size: 16px;
        &:last-child {
          padding-right: 0;
          padding-left: 30px;
          border-right: 0;
          flex-grow: 1;
        }
      }
      input[type=radio] {
        display: none;
      }
      input[type=radio]:checked + .card-product__delivery-top-item {
        border-bottom-color: transparent;
      }
      input[type=radio]:checked + .radio-label .radio__icon {
        display: block;
      }
    }
    &-bottom {
      padding: 25px 0 15px 30px;
      @include media('sm') {
        padding-left: 0;
      }
      &-title {
        margin: 0 0 18px;
        font-family: 'DIN Pro Regular';
        font-size: 16px;
      }
      &-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        input[type=radio] {
          display: none;
        }
        input[type=radio]:checked + .card-product__delivery-bottom-item {
          border-color: $primary;
        }
        input[type=radio]:checked + .radio-label .radio__icon {
          display: block;
        }
      }
      &-item {
        padding: 4px 10px 4px 4px;
        border: 1px solid $darkgrey;
        margin-right: 10px;
        margin-bottom: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__actions {
    padding: 30px 0 0;
    border-bottom: 1px dashed $darkgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media('xl') {
      justify-content: center;
    }
    @include media('lg') {
      flex-direction: column;
    }
    &-list {
      margin-right: 20px;
      display: flex;
      @include media('lg') {
        flex-direction: column;
        margin-right: 0;
      }
    }
    &-link {
      margin-bottom: 30px;
      &:first-child {
        margin-right: 20px;
        @include media('lg') {
          margin-right: 0;
        }
      }
    }
  }
  &__footer {
    padding-top: 26px;
    font-family: 'DIN Pro Regular';
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    @include media('lg') {
      flex-direction: column;
      align-items: center;
    }
    &-counters {
      display: flex;
      @include media('lg') {
        margin-bottom: 20px;
      }
    }
    &-item {
      &:first-child {
        margin-right: 30px;
      }
    }
    &-right {
      display: flex;
    }
    &-title {
      margin-right: 17px;
      @include media('xl') {
        display: none;
      }
    }
  }
  &__rating {
    width: 100px;
  }
  &__aside {
    width: 350px;
    @include media('xl') {
      width: auto;
    }
    &-title {
      font-family: 'Din Pro Medium';
      font-size: 18px;
      margin: 0 0 10px 30px;
      color: $secondary;
      text-transform: uppercase;
      line-height: 0.5;
      @include media('xl') {
        margin-left: 0;
      }
    }
  }
}

.fotorama__stage {
  border: 1px solid $darkgrey;
  @include media('md') {
    border-right-width: 2px;
  }
}

.fotorama__thumb-border {
  border-color: $primary;
  background: none;
}

.fotorama__thumb {
  background: $light;
  border: 1px solid $darkgrey;
}